<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Consumindo API REST no FakeStore </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let produto of produtos">
        <ion-card>
          <ion-card-subtitle>{{ produto.id }}</ion-card-subtitle>
          <img [src]="produto.image" alt="{{ produto.title }}" />
          <ion-card-header>
            <ion-card-title>{{ produto.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Preço produto: ${{ produto.price }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>